.bundle
db/*.sqlite3
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*.~
.DS_Store
*.bex

/public/stylesheets/handheld.css
/public/stylesheets/style.css
/.sass-cache/

/public/javascripts/application.js
/log/test.log
/doc/