%h1 Hi there!

%h2 Someone invited you to join their house on Roomies!
%p 
  Someone you live with(hopefully), sent you an invitation to move into their house on Roomies! 
  If you already have an account, you can simply sign in and accept the invitation. 
  If you're new to the whole thing, head over to http://dev.roomiesapp.com and signup. 
  As soon as your logged in, you will see a notification staring you in the face, asking you to accept or reject the invitation.

%p Have a great day!
