// This file must be imported before loading html5-boilerplate
// default font-family
$base-font-family: unquote("sans-serif")

// default font-size for YUI fonts
$base-font-size: 13px

// default line-height for YUI fonts
$base-line-height: 1.231

@import colors

// left margin for ul an ol
$list-left-margin: 2em

html
  background: $blue 
  background-image: -webkit-gradient(radial, 50% 50%, 800, 50% 50%, 0, from($skyblue), to($sunblue))
  background-image: -moz-radial-gradient(center 45deg, circle farthest-side, $sunblue 0%, $skyblue 100%)
  // &.nighttime
    background: $blue 
    background: -moz-linear-gradient(top, #212933, #a6ceff)
    background: -webkit-gradient(linear, left top, left bottom, from(#212933), to(#a6ceff))
  // body
    visibility: hidden
