// default font color
$font-color: #3a4859
$dark-grey: #404040
$light-grey: #808080

// default colors for links
$link-color: #3a4859
$link-hover-color: #ccc
$link-active-color: #aaa
$link-visited-color: #fff

// selected fonts
$selected-font-color: white

// color for selected text
$selected-background-color: #ff5e99

// bg-color for selected text

// input text color
$input-color: #3a4859

// roomies color scheme
$blue = #a5cdff
$lightblue = desaturate(lighten($blue, 20%), 20%)
$darkblue = #7490b3
$green = #a7c24e
$yellow = #f8d85a
$red = #ca6040
