#main.corkboard
  div
    padding: 30px
    overflow: hidden
    &#flash
      padding: 0
    &.header_bar, &#upcoming .list h2
      color: #52471e
      font-size: 24px
      padding: 0 10px
      line-height: 43px
      border: 1px solid #ab8900
      border-radius: 5px 5px 0 0
      text-shadow: #fffedb 1px 1px 0
      background: -moz-linear-gradient(top, #f7eb8b, #f7d340)
      -moz-box-shadow: #fffedb 1px 1px 0 inset, #fffedb -1px -1px 0 inset
      -webkit-box-shadow: #fffedb 1px 1px 0 inset, #fffedb -1px -1px 0 inset
      background: -webkit-gradient(linear, left top, left bottom, from(#f7eb8b), to(#f7d340))
      h1
        font-size: 24px
    &.content
      :padding 30px 0
      p.info
        :font-size 18px
        :text-align center
      div.list
        padding: 0
        float: left
        width: 280px
        margin-right: 30px
        &.last
          margin: 0
        h2
          color: #52471e
          font-size: 24px
          padding: 0 10px
          line-height: 43px
          border: 1px solid #ab6c00
          border-radius: 5px 5px 0 0
          text-shadow: #fffdc2 1px 1px 0
          background: -moz-linear-gradient(top, #ffd88f, #f7a231)
          -moz-box-shadow: #fff2db 1px 1px 0 inset, #fff2db -1px -1px 0 inset
          -webkit-box-shadow: #fff2db 1px 1px 0 inset, #fff2db -1px -1px 0 inset
          background: -webkit-gradient(linear, left top, left bottom, from(#ffd88f), to(#f7a231))
        ul
          :margin 0
          li
            cursor: pointer
            font-size: 16px
            overflow: hidden
            padding: 5px 10px
            color: $font-color
            border: 1px solid #7490b3
            border-top: none // Comments do make things better!
            background: -moz-linear-gradient(top, #d9eaff, #f2f8ff)
            -moz-box-shadow: #fff 1px 1px 0 inset, #fff -1px -1px 0 inset
            -webkit-box-shadow: #fff 1px 1px 0 inset, #fff -1px -1px 0 inset
            background: -webkit-gradient(linear, left top, left bottom, from(#d9eaff), to(#f2f8ff))
            ul
              li
                padding: 0
                float: right
                width: 233px
                border: none
                background: none
                line-height: 25px
                -moz-box-shadow: none
                -webkit-box-shadow: none
                &[title=expense], &[title=task]
                  width: 13px
                  height: 13px
                  background: #b2cf55
                  margin: 5px 0 0 10px
                  border: 1px solid #fff
                  -moz-box-shadow: #a6ceff 0 0 5px
                  -webkit-box-shadow: #a6ceff 0 0 5px
                &[title=task]
                  background: #95b9e6
                &.edit  
                  opacity: 0
                  width: 25px
                  height: 25px
                  display: none
                  background: url('../images/139.png') 0 4px no-repeat
    &#calendar
      p.info
        margin-bottom: 20px
      .day
        padding: 0
        margin: 1px
        float: left
        width: 126px
        background: $light-grey
        p
          font-size: 48px
          min-height: 75px
          line-height: 75px
          text-align: center
        #todo
          :padding 0
          :background #bfbfbf
          :border-top 1px solid #fff
          a
            :width 63px
            :float left
            :display block
            :font-size 14px
            :min-height 30px
            :line-height 30px
            :color $dark-grey
            :text-align center
            :text-decoration none
            &.tasks
              :width 62px
              :background #e6e6e6
              :border-right 1px solid #fff