#main
  .notice
    p
      cursor: pointer
  .notice, .alert, .notifications, .reward, .error
    overflow: hidden
    text-align: center
    margin: 0 20px 1em 0
    +background-image(linear-gradient(transparentize($blue,.4),transparentize($lightblue, .2)))
    +box-shadow(rgba(0,0,0,.2) 0 1px 2px, rgba(255,255,255,.5) 0 0 15px inset, #d9eaff 0 0 0 1px inset)
    p
      margin: 10px
      font-size: 16px
      line-height: 25px
      padding: 10px 20px
      border: 1px solid #d9eaff
      color: darken($red,50%)
      +text-shadow(none)
      +box-shadow(rgba(0,0,0,0.3) 0 1px 3px 1px inset)
      +background-image(linear-gradient(transparentize($blue,.4),transparentize(darken($blue,10%), .4)))
      a
        font-weight: 600
        color: darken($blue,40%)
        +text-shadow(none)
        &:hover
          color: darken($blue,45%)
        &:active
          color: darken($blue,70%)

  .error, .alert
    p
      color: darken($red,50%)
      +text-shadow(lighten($red,10%) 1px 1px 0)
      +background-image(linear-gradient(transparentize($red,.4),transparentize(darken($red, 10%), .4)))
      a
        color: darken($red,30%)
        +text-shadow(lighten($red,10%) 1px 1px 0)
        &:hover
          color: darken($red,35%)
        &:active
          color: darken($red,70%)
  .reward
    p
      color: darken($green,50%)
      +text-shadow(lighten($green,10%) 1px 1px 0)
      +background-image(linear-gradient(transparentize($green,.4),transparentize(darken($green, 10%), .4)))
