#main
  .notice
    p
      cursor: pointer
  .notice, .alert, .notifications, .reward, .error
    padding: 0
    overflow: hidden
    text-align: center
    border-radius: 5px
    margin: 0 20px 1em 0
    +box-shadow(rgba(66,66,66,0.9) 0 0 0 1px inset)
    +background-image(linear-gradient(rgba(90,90,90,0.9), rgba(66,66,66,0.9)))
    &:last-child
      margin-bottom: 30px
    p
      color: #fff
      margin: 10px
      font-size: 16px
      line-height: 25px
      border-radius: 5px
      padding: 10px 20px
      border: 1px solid #000
      +text-shadow(#000 1px 1px 0)
      +box-shadow(#555 0px 1px 1px inset)
      +linear-gradient(color-stops(#333, #262626))
      a
        color: #fff
        +text-shadow(#000 0 1px 0)
        &:hover
          color: #ddd
        &:active
          color: #999

  .error, .alert
    p
      +text-shadow(darken($red,30%) 1px 1px 0)
      +box-shadow(rgba(66,66,66,0.9) 0 0 0 1px inset)
      +background-image(linear-gradient(transparentize($red, .1), transparentize(darken($red, 10%), .1)))
      a
        +text-shadow(darken($red,30%) 1px 1px 0)
        &:hover
          color: darken($red,30%)
          +text-shadow(lighten($red,10%) 1px 1px 0)
        &:active
          color: darken($red,70%)
  .reward
    p
      color: #111
      +text-shadow(none)
      +box-shadow(rgba(66,66,66,0.9) 0 0 0 1px inset)
      +background-image(linear-gradient(transparentize($green, .1), transparentize(darken($green, 10%), .1)))
