body
  header
    margin: 0
    padding: 15px 30px
    overflow: hidden
    background: none
    h1
      float: left
      font-size: 2em
      a
        width: 195px
        height: 75px
        display: block
        text-indent: -9999px
        background: url('../images/logo.png') no-repeat
    span.notification_title
      color: #fff
      display: block
      font-size: 14px
      font-weight: bold
      padding: 5px 10px
      position: absolute
      +border-radius(5px)
      +text-shadow(#000 0 -1px 0)
      background: rgba(0,0,0,0.6)
    nav
      float: right
      a
        display: block
        font-size: 16px
        margin-top: 15px
        padding: 7px 13px
        font-weight: bold
        background: white
        color: lighten($font-color, 10%)
        +text-shadow(none)
        +border-radius(3px)
        text-decoration: none
        // +box-shadow(rgba(0,0,0,0.2) 0 0 3px 1px inset)
        +gradient-button(lighten($lightblue, 25%))
        +text-shadow(none)
        &:hover, &:focus
          color: $font-color
          // +background-image(linear-gradient(lighten($lightblue, 10%),lighten($lightblue, 5%)))
          // +box-shadow(rgba(0,0,0,0.3) 0 0 3px 1px inset)
          +text-shadow(none)
        &:active  
          // +box-shadow(rgba(0,0,0,0.5) 0 0 3px 1px inset)
          +text-shadow(none)
      ul
        li.profile
          a
            padding: 0
          img
            margin: 8px 0 0
            +box-shadow(#bfdcff 1px 1px 0, #7490b2 -1px -1px 0)
        li
          float: left
          font-size: 24px
          min-width: 50px
          min-height: 50px
          margin: 0 15px 0 0
          a
            width: 100%
            color: #fff
            height: 50px
            line-height: 50px
            text-align: center
            padding: 0 10px 0 5px
            +gradient-button($lightblue)
            &:active
              img
                +box-shadow(#bfdcff -1px -1px 0, #7490b2 1px 1px 0)
        li.notification
          a
            width: 27px
            height: 32px
            padding: 9px 10px
            text-indent: -9999px
            background: url('../images/70.png') no-repeat 10px 10px
            +box-shadow($lightblue 0 0 0 1px inset)
            &:hover, &:focus
              background-color: lighten($lightblue, 15%)
              +box-shadow($lightblue 0 0 0 1px inset,$lightblue 0 1px 3px 1px inset)
              +text-shadow(rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.2) 0 0 3px)
            &:active  
              +box-shadow($lightblue 0 0 0 1px inset,$lightblue 0 2px 5px 1px inset)
              +text-shadow(rgba(0,0,0,0.7) 0 1px 1px, rgba(0,0,0,0.4) 0 0 3px)
        li.confirm
          a
            background: url('../images/58_32px.png') no-repeat 12px 15px
        li.house
          a
            background: url('../images/203.png') no-repeat 8px 11px

    #beta
      float: left
      margin-top: 1.9em
      padding: 0 0 0 2em
      text-transform: lowercase
      font-size: .9em
      a
        display: block
        padding: 0 1em
        line-height: 2
        font-size: .9em
        +gradient-button(transparentize($lightblue, .8))
        +text-shadow(none)
        +border-radius(3px)
        &:link, &:visited
          text-decoration: none
          color: #555
        &:hover, &:focus
        &:active
          +text-shadow(none)
          

          

