body
  header
    margin: 0
    padding: 15px 30px
    overflow: hidden
    background: none
    h1
      float: left
      font-size: 2em
      a
        width: 195px
        height: 75px
        display: block
        text-indent: -9999px
        background: url('../images/logo.png') no-repeat
    span.notification_title
      color: #fff
      display: block
      font-size: 14px
      font-weight: bold
      padding: 5px 10px
      position: absolute
      +border-radius(5px)
      +text-shadow(#000 0 -1px 0)
      background: rgba(0,0,0,0.6)
    nav
      float: right
      a
        display: block
        font-size: 16px
        margin-top: 15px
        padding: 7px 13px
        font-weight: bold
        background: white
        color: $font-color
        +text-shadow(none)
        +border-radius(3px)
        text-decoration: none
        +box-shadow(rgba(0,0,0,0.2) 0 0 3px 1px inset)
        &:hover, &:focus
          color: white
          background: $skyblue
          +box-shadow(rgba(0,0,0,0.3) 0 0 3px 1px inset)
          +text-shadow(rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.2) 0 0 3px)
        &:active  
          +box-shadow(rgba(0,0,0,0.5) 0 0 3px 1px inset)
          +text-shadow(rgba(0,0,0,0.7) 0 1px 1px, rgba(0,0,0,0.4) 0 0 3px)
      ul
        li.profile
          a
            padding: 0
          img
            margin: 8px 0 0
            +box-shadow(#bfdcff 1px 1px 0, #7490b2 -1px -1px 0)
        li
          float: left
          font-size: 24px
          min-width: 50px
          min-height: 50px
          margin: 0 15px 0 0
          a
            width: 100%
            color: #fff
            height: 50px
            line-height: 50px
            text-align: center
            padding: 0 10px 0 5px
            +gradient-button($blue)
            &:active
              img
                +box-shadow(#bfdcff -1px -1px 0, #7490b2 1px 1px 0)

