body
  header
    :margin 0
    :padding 15px 30px
    :overflow hidden
    :background none
    h1
      :float left
      :font-size 2em
      a
        :width 195px
        :height 75px
        :display block
        :text-indent -9999px
        :background url('../images/logo.png') no-repeat
    nav
      :float right
      form.formtastic
        fieldset.inputs, fieldset.buttons
          input
            :width 150px
            &[type=submit]
              :width auto
      ul
        li.graphic
          :padding 0
          :background url('../images/53.png') no-repeat 50% 50%
          a
            :padding 0
        li.profile
          :background #fff
          img
            :margin 8px 0 0
        li
          :float left
          :font-size 24px
          :min-width 50px
          :min-height 50px
          :background #fff
          :margin 0 0 0 10px
          :padding-right 30px
          :background #fff url('../images/49.png') no-repeat 10px 50%
          a
            :width 100%
            :height 50px
            :display block
            :line-height 50px
            :color $dark-grey
            :text-align center
            :padding-left 32px
            :text-decoration none

