#main.home
  .widtherize
    :float left
    :padding 0
    :margin 0 0 2em 0
    :width 350px
  #screencast
    :float right
    :padding 2em 2em 0 0
  #signup
    :clear left
    p
      :font-size 18px
    form.formtastic
      :width 100%
      :margin-top 40px
      fieldset.inputs
        :width 70%
      fieldset.buttons
        :width 27%
        :float right
      fieldset.inputs, fieldset.buttons
        li
          :margin 0
          :width 100%
          input
            :width 100%
            :font-size 48px
            :margin-bottom 10px
            :padding 6px 10px 8px
            &[type=submit]
              :margin 0
              :width 100%
              :padding 6px 40px 8px
  .benefit
    :float left
    :width 260px
    :margin 20px
    h2
      :font-size 60px
    p
      :font-size 14px
      :line-height 20px
