#main #modal
  padding: 0
  top: 100px
  z-index: 30
  display: none
  position: absolute
  border: 1px solid #a6ceff
  +box-shadow(darken($blue, 70%),0,0,20px,2px)
  background: -webkit-gradient(radial, 50% 0%, 500, 50% 0%, 0, from(#9ec6ff), to($lightblue))
  background: -moz-radial-gradient(center 45deg, circle farthest-side, $lightblue 0%, #9ec6ff 100%)
  #main
    padding: 30px 30px 90px
    background: url('../images/clouds.png') 105% -5% repeat-x, url('../images/hills.png') 0% 110% repeat-x
  a
    &:link, &:visited
      color: $font-color
      text-decoration: underline
    &:hover, &:active
      text-decoration: none
  h1
    font-size: 24px
    margin-bottom: 75px
  h2
    font-size: 20px
  #avatar
    padding: 10px 0 5px
    p
      float: left
      font-size: 16px
      margin-right: 10px
      a
        float: left
        display: block
      img
        border: 10px solid #fff
        +box-shadow(rgba(0,0,0,0.2),1px,1px,1px,0px)
  .add_roomie_form
    display: none
    margin-top: 10px
  form
    width: 438px
    div
      padding: 0 0 0 2px
      input
        width: 424px