@import compass/css3
@import colors
@import fonts
@import forms

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea
  color: $font-color
  text-shadow: 1px 1px 0 #d9eaff
  // Set your base font here, to apply evenly
  font-family: $base-font-family

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  // font-weight: bold

#main a:link, #main a:visited
  font-weight: bold
  color: $font-color
  text-decoration: none
  +text-shadow(rgba(255,255,255,0.7) 0 1px 1px)
  &:hover, &:focus
    color: lighten($font-color, 10%)
  &:active
    color: darken($font-color, 10%)

a:hover
  color: $link-hover-color

strong, th
  font-weight: bold

small
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  +font-size(11px)
  // approx 85% when base-font-size eq 13px

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid
  color: $font-color

input:invalid, textarea:invalid
  color: $red

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid
  background-color: #f0dddd

//-----------------------------------
// Add your own custom styles below  
//-----------------------------------

body
  overflow: hidden
  background: url('../images/clouds.png') 200px 0px repeat-x
  &.registrations, &.sessions, &.assignments
    #main
      h1
        font-size: 30px
        text-align: right
        margin-bottom: 10px
        padding-bottom: 5px
        border-bottom: 1px dashed $darkblue
      form
        margin-bottom: 20px
  #clouds
    width: 100%
    z-index: -10
    opacity: 0.4
    height: 160px
    position: absolute
    background: url('../images/clouds.png') top left repeat-x

@import forms
@import header

#container, .container
  width: 960px
  margin: 0 auto
  font-size: 1.3em

#main
  overflow: hidden
  padding: 60px 0 20px
  
  .header_bar
    +column(12)
    +background-image(linear-gradient(#f7eb8b, #f7d340))
    +box-shadow(#fffedb 1px 1px 0 inset, #fffedb -1px -1px 0 inset)
    h1
      float: left
      
  ul
    list-style: none
  form.formtastic
    width: 450px
    fieldset.inputs, fieldset.buttons
      label
        padding: 0
        width: 450px
        margin: 10px 0 0
      input
        width: 200px
        &[type=checkbox]
          width: auto
        &[type=submit]
          width: auto
          margin: 10px 0

  #error_explanation
    h2
      font-size: 18px
    ul
      float: right
      li
        text-align: right

  #darknessification
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 20
    display: none
    position: fixed
    background: rgba(0,0,0,0.75)
      
@import pages/home
@import pages/profile
@import pages/corkboard
@import pages/support
@import pages/assignments
@import modals

footer
  clear: both
  width: 100%
  height: 150px
  overflow: hidden
  background: url('../images/hills.png') bottom left repeat-x
  .container
    height: 140px
    overflow: hidden
    position: relative
    p
      bottom: 0
      left: 10px
      color: #f9ffe5
      font-size: 0.9em
      font-weight: 500
      position: absolute
      text-shadow: 0 0 5px #91a843
      &#links
        left: auto
        right: 10px
        a
          color: #f9ffe5
          font-weight: 500
          text-shadow: 0 0 5px #91a843
          &:hover, &:focus
            color: lighten(#f9ffe5, 30%)
          &:active
            color: darken(#f9ffe5, 20%)
