@import compass/css3
@import colors
@import fonts
@import forms

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea
  color: $font-color
  text-shadow: 1px 1px 0 #d9eaff
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  // font-weight: bold

#main a, #main a:active, #main a:visited
  color: $link-color

a:hover
  color: $link-hover-color

strong, th
  font-weight: bold

small
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  +font-size(11px)
  // approx 85% when base-font-size eq 13px

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid
  +box-shadow($blue, 0, 0, 2px, 2px)

input:invalid, textarea:invalid
  +box-shadow($red, 0, 0, 2px, 2px)

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid
  background-color: #f0dddd

//-----------------------------------
// Add your own custom styles below  
//-----------------------------------

::selection
  background: #b04727
  text-shadow: none

body
  overflow: hidden
  font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", sans-serif
  background: url('../images/clouds.png') top left repeat-x, url('../images/hills.png') bottom left repeat-x
  &.registrations, &.sessions
    #main
      h2
        text-align: right
        margin-bottom: 10px
        padding-bottom: 5px
        border-bottom: 1px dashed $darkblue
      form
        margin-bottom: 20px
      a
        clear: both
        float: right
        line-height: 20px
  #clouds
    width: 100%
    z-index: -10
    opacity: 0.4
    height: 160px
    position: absolute
    background: url('../images/clouds.png') top left repeat-x

@import forms
@import header

#container
  width: 960px
  margin: 0 auto

#main
  overflow: hidden
  padding: 60px 30px 20px
  ul
    list-style: none
  form.formtastic
    width: 450px
    fieldset.inputs, fieldset.buttons
      label
        padding: 0
        width: 450px
        margin: 10px 0 0
      input
        width: 200px
        &[type=checkbox]
          width: auto
        &[type=submit]
          width: auto
          margin: 10px 0
  h2
    :font-size 30px
  #error_explanation
    h2
      :font-size 18px
  #darknessification
    :top 0
    :left 0
    :right 0
    :bottom 0
    :z-index 20
    :display none
    :position fixed
    :background rgba(0,0,0,0.75)
  #modal
    padding: 0
    top: 100px
    z-index: 30
    display: none
    position: absolute
    border: 1px solid #a6ceff
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 1px, $blue 0 -5px 10px inset
    -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px, $blue 0 -2px 5px inset
    background-image: -webkit-gradient(radial, 50% 0%, 500, 50% 0%, 0, from(#9ec6ff), to($lightblue))
    background-image: -moz-radial-gradient(center 45deg, circle farthest-side, $lightblue 0%, #9ec6ff 100%)
    h1
      font-size: 24px
    h2
      font-size: 20px
    #avatar
      padding: 10px 0 5px
      p
        float: left
        font-size: 16px
        margin-right: 10px
        a
          float: left
          display: block
        img
          border: 10px solid #fff
    .add_roomie_form
      :display none
      :margin-top 10px
    form
      :margin 0
      fieldset.buttons
        :float right
        :clear both
        li
          :margin 10px 0 0
      fieldset.inputs
        width: 450px
        overflow: hidden
        li
          width: 450px
          input
            width: 435px
  .notice, .first_time
    padding: 5px
    text-align: center
    border-radius: 5px
    border: 1px solid rgba(66,66,66,0.9)
    background: -moz-linear-gradient(top, rgba(90,90,90,0.9), rgba(66,66,66,0.9))
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(90,90,90,0.9)), to(rgba(66,66,66,0.9)))
    p
      color: #fff
      font-size: 16px
      line-height: 25px
      border-radius: 5px
      padding: 10px 20px
      border: 1px solid #000
      text-shadow: 1px 1px 0 #000
      -moz-box-shadow: #555 0px 1px 1px inset
      -webkit-box-shadow: #555 0px 1px 1px inset
      background: -moz-linear-gradient(top, #333, #262626)
      background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#262626))
      a
        color: #fff
@import pages/home
@import pages/profile
@import pages/corkboard
@import pages/support

footer
  clear: both
  padding: 10px
  overflow: hidden
  margin-top: 100px
  p
    float: left
    color: #f9ffe5
    font-weight: bold
    text-shadow: 0 0 5px #91a843
    &#links
      float: right
      a
        color: #f9ffe5
        font-weight: bold
        text-shadow: 0 0 5px #91a843
