@import compass/css3
@import colors
@import fonts
@import forms

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea
  color: $font-color
  text-shadow: 1px 1px 0 #d9eaff
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  // font-weight: bold

#main a, #main a:active, #main a:visited
  color: $link-color

a:hover
  color: $link-hover-color

strong, th
  font-weight: bold

small
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  +font-size(11px)
  // approx 85% when base-font-size eq 13px

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid

input:invalid, textarea:invalid
  +border-radius(1px)
  +box-shadow(red, 0, 0, 5px, 0)

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid
  background-color: #f0dddd

//-----------------------------------
// Add your own custom styles below  
//-----------------------------------

::selection
  background: #b04727

body
  overflow: hidden
  font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", sans-serif
  background: url('../images/clouds.png') top left repeat-x, url('../images/hills.png') bottom left repeat-x
  #clouds
    width: 100%
    z-index: -10
    opacity: 0.4
    height: 160px
    position: absolute
    background: url('../images/clouds.png') top left repeat-x
  form
    @include input
  form.formtastic
    :margin-top 20px
    :overflow hidden
    fieldset.inputs, fieldset.buttons
      :padding 0
      :float left
      ol
        li
          :padding 0
          :float left
          :overflow hidden
          :margin 0 10px 0 0
          @include input
@import header

#container
  width: 960px
  margin: 0 auto

#main
  overflow: hidden
  padding: 60px 30px 20px
  ul
    list-style: none
  form.formtastic
    width: 450px
    fieldset.inputs, fieldset.buttons
      label
        :padding 0
        :width 100%
        :margin 10px 0 0
      input
        :width 200px
        &[type=checkbox]
          :width auto
        &[type=submit]
          :width auto
          :margin 10px 0
  h2
    :font-size 30px
  #error_explanation
    h2
      :font-size 18px
  #darknessification
    :top 0
    :left 0
    :right 0
    :bottom 0
    :z-index 20
    :display none
    :position fixed
    :background rgba(0,0,0,0.75)
  #modal
    :padding 0
    :top 100px
    :z-index 30
    :display none
    :position absolute
    :background $dark-grey
    :border 10px solid #fff
    h1
      :font-size 24px
    h2
      :font-size 20px
    #avatar
      :padding 10px 0 5px
      p
        :float left
        :font-size 16px
        :margin-right 10px
        a
          :float left
          :display block
        img
          :border 10px solid #fff
    .add_roomie_form
      :display none
      :margin-top 10px
    form
      :margin 0
      fieldset.buttons
        :float right
        :clear both
        li
          :margin 10px 0 0
      fieldset.inputs
        :width 100%
        :overflow hidden
        li
          :width 100%
          input
            :width 100%
        textarea
          :width 98%
          :padding 4px
          :border none
          :color $dark-grey
@import home
@import profile
@import corkboard

footer
  clear: both
  padding: 10px
  overflow: hidden
  margin-top: 100px
  p
    float: left
    color: #f9ffe5
    font-weight: bold
    text-shadow: 0 0 5px #91a843
    &#links
      float: right
      a
        color: #f9ffe5
        font-weight: bold
        text-shadow: 0 0 5px #91a843