%h1= t(:new, scope: [:house_invitations])
- if @house_invitation.errors.any?
  #error_explanation
    %h2
      = pluralize(@house_invitation.errors.count, "error")
      prohibited this house invitation from being saved:

    %ul
      - @house_invitation.errors.full_messages.each do |msg|
        %li= msg

= render 'form'
