%h1 edit profile information
#avatar
  %p= image_tag(@user.gravatar)
  %p 
    Your avatar is handled by:
    = link_to 'gravatar.com', 'http://gravatar.com/'
= render 'users/form' 
#cancel
  -# Unhappy? #{link_to "Cancel my account", registration_path(@user), :confirm => "Are you sure?", :method => :delete }
