%h1 Roomie
%ul
  %li Name: #{@user.name}
  %li Email: #{@user.email} 
  - unless @user.authentications.empty?
    %li
      Authentications:
      %ul
        - @user.authentications.each do |auth|
          %li #{auth.provider.titleize}
= link_to 'Back to all Roomies', users_path
