#signup
  -# = form_tag(new_invitation_path) do |f|
  -#   = email_field_tag :recipient_email
  -#   = submit_tag "Sign Up", :class => 'green'
  %p.other_auths
    Roomies is currently in private beta. Please <a href="http://roomiesapp.com">sign up</a> if you'd like to participate.
