#main.assignments
form
  div.input
    input.autocomplete
      width: 394px
      position: absolute
      padding-right: 35px
    span#assignees
      top: 10px
      left: 404px
      width: 24px
      height: 24px
      z-index: 100
      display: block
      position: relative
      margin-bottom: 20px
      background: url('../images/244.png') no-repeat right top