#main.corkboard
  div
    padding: 30px
    overflow: hidden

    // flash
    &#flash, &.first_time, &.notice
      padding: 5px
      .notice
        padding: 5px

    // header bar
    &.header_bar, &#upcoming .list h2
      color: #52471e
      font-size: 24px
      padding: 0 10px
      line-height: 43px
      border: 1px solid #ab8900
      border-radius: 5px 5px 0 0
      text-shadow: #fffedb 1px 1px 0
      background: -moz-linear-gradient(top, #f7eb8b, #f7d340)
      -moz-box-shadow: #fffedb 1px 1px 0 inset, #fffedb -1px -1px 0 inset
      -webkit-box-shadow: #fffedb 1px 1px 0 inset, #fffedb -1px -1px 0 inset
      background: -webkit-gradient(linear, left top, left bottom, from(#f7eb8b), to(#f7d340))
      h1
        font-size: 24px

    // content
    &.content
      padding: 30px 0
      &.others
        div.list
          width: 202px
          ul
            li
              ul
                li
                  width: 130px
          &.last
            width: 204px
      p.info
        font-size: 18px
        text-align: center
      div.list
        padding: 0
        float: left
        width: 280px
        margin-right: 30px
        &.last
          margin: 0
        h2
          color: #52471e
          font-size: 24px
          padding: 0 15px
          line-height: 43px
          border: 1px solid #ab6c00
          border-radius: 5px 5px 0 0
          text-shadow: #fffdc2 1px 1px 0
          background: -moz-linear-gradient(top, #ffd88f, #f7a231)
          -moz-box-shadow: #fff2db 1px 1px 0 inset, #fff2db -1px -1px 0 inset
          -webkit-box-shadow: #fff2db 1px 1px 0 inset, #fff2db -1px -1px 0 inset
          background: -webkit-gradient(linear, left top, left bottom, from(#ffd88f), to(#f7a231))
        ul
          margin: 0
          li
            font-size: 16px
            overflow: hidden
            padding: 5px 10px
            color: $font-color
            border: 1px solid #7490b3
            border-top: none // Comments do make things better!
            background: -moz-linear-gradient(top, #d9eaff, #f2f8ff)
            -moz-box-shadow: #fff 1px 1px 0 inset, #fff -1px -1px 0 inset
            -webkit-box-shadow: #fff 1px 1px 0 inset, #fff -1px -1px 0 inset
            background: -webkit-gradient(linear, left top, left bottom, from(#d9eaff), to(#f2f8ff))
            ul
              li
                float: right
                width: 208px
                border: none
                background: none
                line-height: 25px
                padding: 0 25px 0 0
                -moz-box-shadow: none
                -webkit-box-shadow: none
                a
                  text-decoration: none
                  &:hover
                    text-decoration: underline
                &[title=expense], &[title=bill], &[title=task], &[title=chore]
                  padding: 0
                  width: 13px
                  height: 13px
                  background: #b2cf55
                  margin: 5px 0 0 10px
                  border: 1px solid #fff
                  -moz-box-shadow: #a6ceff 0 0 5px
                  -webkit-box-shadow: #a6ceff 0 0 5px
                &[title=task], &[title=chore]
                  background: #95b9e6
                &.edit
                  opacity: 0
                  padding: 0
                  width: 25px
                  height: 25px
                  display: none
                  background: url('../images/139.png') 0 4px no-repeat
                &.check
                  padding: 0
                  width: 25px
                  height: 25px
                  background: url('../images/58.png') 7px 5px no-repeat

    // upcoming filters
    &#upcoming_filters
      padding: 0
      ul
        margin: 0
        float: left
        li
          float: left
          color: #fff
          cursor: pointer
          padding: 5px 10px
          border-radius: inherit
          border: 1px solid #7d7d7d
          border-right: 1px solid rgba(0,0,0,0.3)
          text-shadow: rgba(0,0,0,.3) -1px -1px 0
          border-left: 1px solid rgba(255,255,255,0.3)
          background: -moz-linear-gradient(top, #b0b0b0, #7d7d7d)
          background: -webkit-gradient(linear, left top, left bottom, from(#b0b0b0), to(#7d7d7d))
          &.left
            border-left: 1px solid #7d7d7d
            border-radius: 5px 0 0 5px
          &.right
            border-radius: 0 5px 5px 0

          // task filter
          &#task_filter
            background: -moz-linear-gradient(top, #8dc2e3, #5b8eb0)
            background: -webkit-gradient(linear, left top, left bottom, from(#8dc2e3), to(#5b8eb0))
            &:hover
              background: -moz-linear-gradient(top, #9dd8fc, #5b8eb0)
              background: -webkit-gradient(linear, left top, left bottom, from(#9dd8fc), to(#5b8eb0))
            &:active, &.active
              text-shadow: rgba(0,0,0,.4) 1px 1px 0
              background: -moz-linear-gradient(top, #5b8eb0, #8dc2e3)
              -moz-box-shadow: #5b8eb0 -3px 0px 3px inset, #5b8eb0 3px 0px 3px inset
              -webkit-box-shadow: #5b8eb0 -3px 0px 3px inset, #5b8eb0 3px 0px 3px inset
              background: -webkit-gradient(linear, left top, left bottom, from(#5b8eb0), to(#8dc2e3))

          // expense filter
          &#expense_filter
            background: -moz-linear-gradient(top, #c4e35f, #94b038)
            background: -webkit-gradient(linear, left top, left bottom, from(#c4e35f), to(#94b038))
            &:hover
              background: -moz-linear-gradient(top, #dafc6a, #94b038)
              background: -webkit-gradient(linear, left top, left bottom, from(#dafc6a), to(#94b038))
            &:active, &.active  
              text-shadow: rgba(0,0,0,.4) 1px 1px 0
              background: -moz-linear-gradient(top, #94b038, #c4e35f)
              -moz-box-shadow: #94b038 -3px 0px 3px inset, #94b038 3px 0px 3px inset
              -webkit-box-shadow: #94b038 -3px 0px 3px inset, #94b038 3px 0px 3px inset
              background: -webkit-gradient(linear, left top, left bottom, from(#94b038), to(#c4e35f))
          &:hover
            background: -moz-linear-gradient(top, #c9c9c9, #7d7d7d)
            background: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#7d7d7d))
          &:active, &.active
            text-shadow: rgba(0,0,0,.3) 1px 1px 0
            background: -moz-linear-gradient(top, #7d7d7d, #b0b0b0)
            -moz-box-shadow: #7d7d7d -3px 0px 3px inset, #7d7d7d 3px 0px 3px inset
            -webkit-box-shadow: #7d7d7d -3px 0px 3px inset, #7d7d7d 3px 0px 3px inset
            background: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#b0b0b0))
        &#filters
          float: right

    // centric
    &#centric
      padding: 0
      border: 1px solid #9eafc5
      border-top: none // Helpful comment!

      // day
      .day
        padding: 0
        float: left
        width: 64px
        position: relative
        margin: -1px 0 0 -1px
        border-top: 1px solid #9eafc5
        border-left: 1px solid #9eafc5
        background: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,.15))
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.75)), to(rgba(255,255,255,.15)))

        // when hovering on the day, reveal additional data
        &:hover .day_name
          opacity: 1


        // past
        &.past
          opacity: 0.3
          .day_name
            opacity: 1
        &:nth-child(14n)
          width: 65px
        p
          font-size: 28px
          min-height: 55px
          line-height: 55px
          text-align: center
          text-shadow: 1px 1px 0px #fff

          // day name
          &.day_name
            opacity: 0
            top: 5px
            left: 5px
            font-size: 11px
            line-height: 12px
            min-height: 12px
            text-align: left
            position: absolute
            line-height: normal
            text-transform: uppercase

        // todo
        #todo
          padding: 0
          width: 48px
          margin: 0 auto 1em
          a
            color: #111
            float: left
            padding: 0 2px
            display: block
            font-size: 11px
            font-weight: 100
            min-width: 18px
            min-height: 18px
            line-height: 18px
            text-align: center
            text-decoration: none
            // text-shadow: rgba(0,0,0,.3) 0 -1px 0
            text-shadow: none
            +linear-gradient(color-stops($lightgreen, $green), top)
            // +background-image(linear-gradient(#c4e35f, #ccc 30%, #bbb 70%, #94b038))
            +box-shadow(transparentize(darken(saturate($green, 20%), 30%), 0) 0 0 2px inset)
 
            // tasks
            &.tasks
              +linear-gradient(color-stops($lightblue, $blue), top)
              +box-shadow(transparentize(darken(saturate($blue, 20%), 30%), 0) 0 0 2px 5px inset)

    // calendar
    &#calendar
      padding: 0
      border: 1px solid #9eafc5
      border-top: none // Helpful comment!
      .day
        padding: 0
        float: left
        width: 128px
        position: relative
        margin: -1px 0 0 -1px
        border-top: 1px solid #9eafc5
        border-left: 1px solid #9eafc5
        background: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,.15))
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.75)), to(rgba(255,255,255,.15)))
        &.past
          opacity: 0.3
        &:nth-child(7n)
          width: 130px
        p
          font-size: 48px
          min-height: 75px
          line-height: 75px
          text-align: center
          text-shadow: 1px 1px 0px #fff
          &.day_name
            top: 5px
            left: 5px
            font-size: 12px
            min-height: 12px
            text-align: left
            position: absolute
            line-height: normal
            text-transform: uppercase
        #todo
          padding: 0
          width: 58px
          margin: 0px auto 20px
          a
            color: #fff
            float: left
            padding: 0 2px
            display: block
            font-size: 12px
            min-width: 23px
            min-height: 23px
            line-height: 23px
            text-align: center
            text-decoration: none
            border: 1px solid #94b038
            text-shadow: rgba(0,0,0,.3) -1px -1px 0
            background: -moz-linear-gradient(top, #c4e35f, #94b038)
            background: -webkit-gradient(linear, left top, left bottom, from(#c4e35f), to(#94b038))
            &.tasks
              border: 1px solid #5b8eb0
              background: -moz-linear-gradient(top, #8dc2e3, #5b8eb0)
              background: -webkit-gradient(linear, left top, left bottom, from(#8dc2e3), to(#5b8eb0))
