#signup
  -# = form_tag(new_invitation_path) do |f|
  -#   = email_field_tag :recipient_email
  -#   = submit_tag "Sign Up", :class => 'green'
  %p
    Roomies is currently in private beta. Please <a href="http://beta.roomiesapp.com">sign up</a> if you'd like to participate. 
    %br We launch <strong>today</strong> around 7PM EST. We'll be working really hard in the meantime. Proof above.
