- @main_class = 'pages about'
%section
  %h1 About Roomies
  %h2 The Problem
  %p Do you ever find a note on the fridge from a roommate upset about something you apparently forgot to? Do you ever get those passive-aggressive text messages reminding you to do something you already know about? Do you ever forget a roommate is throwing a party and come home to Cirque du Soleil? Do you ever find yourself in the awkward situation of having to remind someone you did them a favor?

  %p No more. Say hi to Roomies.

  %h2 The Solution
  %p Roomies is a task &amp; expense management application – with a few extra goodies – that makes living together feel a bit more fun and lot less out of control.

  %p Roomies uses game elements to make house tasks less tedious and gives incentives to the roommates who get things done around the house. It makes living together easier.


  %h2 The Story
  %p In January 2009, Olivier moved to Florida from his native France to come study web design and development at Full Sail University in Winter Park.

  %p At the time, Olivier had a few friends from UCF he had met in the most convoluted way possible (as usual), but he didn't know anyone at Full Sail. So one night, trying to find a use for this new hotness called Twitter, he searched for "full sail" on their atrocious search engine.

  %p There was a lot of noise, spam and a few tweets about <a href="http://www.fullsailbrewing.com/" title="Full Sail Brewing Company">beer</a>. But among all of those, there was a tweet from a guy called <a href="http://twitter.com/fullsailor">@fullsailor</a>. Sporting a huge smile, and a now legendary haircut, this one didn't look like a fake account and he was saying a few interesting things.

  %p Being his usual curious monkey, Olivier asked him a question about the degree. And the two started regular exchanges a few months prior to Olivier's orientation. Along the way, Olivier discovered the joy of roommates for the first time. And while he was a very lucky Frenchie, there was no way around some awkward and tense situations.

  %p.image= image_tag "about/couch.jpg", title: "Andrew, Olivier and Zach", alt: "cleverCoders on the couch"

  %p Fast-forward to February 2010, after having founded cleverCode LLC with Zach, his only fellow classmate for a while, Olivier met Andrew and they hit it off rather well. After a wild night of homemade Carbonara pasta, Andrew &amp; Olivier opened up and shared their deepest secrets. Among those, the seeds of an application that would become Roomies.

  %p After working with Andrew on a few small Rails projects as front-end developers at cleverCode, Olivier &amp; Zach eventually did their best to catch up and decided to make the first version of Roomies their final project at Full Sail University.
