- @main_class = 'pages about'
%h1 About Roomies
%p In January 2009, Olivier moved to Florida from his native France to come study web design and development at Full Sail University in Winter Park.

%p At the time, Olivier had a few friends from UCF he had met in the most convoluted way possible (as usual), but he didn't know anyone at Full Sail. So one night, trying to find a use for this new hotness called Twitter, he search from "full sail" on their atrocious search engine.

%p There was a lot of noise, spam and a few tweets about <a href="http://www.fullsailbrewing.com/" title="Full Sail Brewing Company">beer</a>. But among all of those, there was a tweet from a guy called <a href="http://twitter.com/fullsailor">@fullsailor</a>. Sporting a huge smile, and a now legendary haircut, this one didn't look like a fake account and he was saying a few interesting things.

%p Being his usual curious monkey, Olivier asked him a question about the degree. And the two started regular exchanges a few months prior to Olivier's orientation. Along the way, Olivier discovered the joy of roommates for the first time. And while he was a very lucky Frenchie, there was no way around some awkward and tense situations.

%p.image= image_tag "about/couch.jpg"

%p Fast-forward to February 2010, after having founded cleverCode LLC with Zach, his only fellow classmate for a while, Olivier meets Andrew and they hit it off rather well. After a wild night of homemade Carbonara pasta, Andrew &amp; Olivier open up and share their deepest secrets. Among those, the seeds of an application that would become Roomies.

%p After working with Andrew on a few small Rails projects as front-end developers at cleverCode, Olivier &amp; Zach eventually did their best to catch up and decided to make the first version of Roomies their final project at Full Sail University.
