- @main_class = 'pages privacy'
%h1 Privacy, serious stuff
%p We're not too big on doing things because "that's how it's done". Privacy is a big deal, and it doesn't matter how much we think you're willing to share. What matters is what you, our users, think.
%p Since we can't read your minds – which is why we love when you <a href="/support/" title="Support">send us your thoughts</a> – we're not going to assume anything.

%h2 What information do we store?
%p There are two basic ways to sign up to Roomies. 
%ol
  %li Using the stupendously simple form on the home page or using third-parties like Twitter, Facebook &amp; Google.

  %li Our extremely spartan sign up requires one piece of personal information from you: your email address. That's all it takes to sign up to Roomies. 

%p If you decide to sign up using Facebook, or to add Facebook as a sign in service, Facebook asks you to confirm this action.
= image_tag "privacy_facebook.png"

%p While Facebook does give us access to all that data (way too much in our mind) the only things we even access are:  your first name, last name, and email address. We store those with in your account, unless you decide to change your name later on (it doesn't need to be your first and last name).

%p Google offers us much less information (thankfully), only your name and the email address associated with your Google account, which we use in the same way.

%p Twitter is a bit different, they don't share your email address. While it's commendable of them, we need it in case you ever have to reset your password or decide to receive assignment notifications from Roomies.

%p That's it. The assignments you create on Roomies will not likely include sensitive information, unless you're doing it wrong. So just as a reminder, Roomies is not a place to jot down your social security number or credit card number just because you need to share it with your roommates.

%h2 How do we keep people from sneaking into your account?
%p We allow you to either enter your own password or use one of our randomly generated complex passwords. We know it's a pain in the ass to remember or store complex password, so we recommend the amazing <a href="">1Password</a> from AgileBits (Mac &amp; PC). Trust us, this thing will change your life.

%p If you only use Facebook, Twitter or Google to sign up for your Roomies acccount we simply ask these services to confirm who you are on our behalf. If your currently sign in to Facebook when you try to sign in to Roomies for instance, you won't need to enter any password. It's not magic, simply great communication ;-)

%h2 Payment information
%p We do not store one bit of payment information when you subscribe to Roomies. Every transaction goes through an excellent service called <a href="http://pintpay.com">PintPay</a> which we recommend if you're a small business like us. These guys take care of all the sensitive things surrounding billing, and they simply give us a heads up if you paid.
