- @main_class = 'pages service'
%h1 Terms of Service
%p So what do we promise you? And what do we ask of you, if you decide to use Roomies and subscribe to it monthly to enjoy an unprecedented peace of mind around your house?

%h2 Issues &amp; interruptions
%p We hate problems as much as you do, and while we do our best to make Roomies a joyful experience, there's bound to be times where things don't work out the way we intended to.

%p If you find an issue with the site and are willing to help us fix it, we won't just give you a free month of service when it's convenient for us. We will refund your current month, now. Seriously.

%p "Why do that? Isn't it crazy? Are you guys so sure of yourselves?"

%p We do that precisely because we aren't sure of ourselves, and we think it's very rational. After your first month of free service, we ask you for a fee. This means you should not expect beta-quality service. 

%p If we screw up, there two things we want you to know. The first one is that we pay from our mistakes – not just morally, financially as well. We have strong incentives to make sure the ride is smooth. Second, we want you to know we're listening. No one's a better fit to help us improve Roomies than you are, and you ought to be rewarded for it.