= simple_form_for(@invitation) do |f|
  = f.input :inviter_id, :label => false, :input_html => { :type => 'hidden', :value => current_user.id }
  = f.input :email
  = f.button :submit, :class => 'green'
