%h1 new invitation
- if @invitation.errors.any?
  #error_explanation
    %h2
      = pluralize(@invitation.errors.count, "error")
      prohibited this invitation from being saved:

    %ul
      - @invitation.errors.full_messages.each do |msg|
        %li= msg

= render 'form'
