%h1 Someone said something about Roomies!
%h2 It seems you've gotten a new message from a loyal follower at roomies. Yay for you!
%h3
  Sent by <a href="mailto:#{@support_request.email}">#{@support_request.name}</a>
  = link_to @support_request.name, @support_request.email
%p= @support_request.message

