.header_bar.upcoming.current
  %h1= t '.these_coming_days'
  %p
    =link_to t('.upcoming'), '#', :class => 'active', "data-name" => 'upcoming'
    |
    =link_to t('.monthly'), '/corkboard/monthly'
.header_bar
  %h1= t '.this_coming_month'
  %p
    =link_to t('.upcoming'), '/corkboard/upcoming'
    |
    =link_to t('.monthly'), '/corkboard/monthly', :class => 'active'