.list
  %h2= day_of_the_week
  %ul
    - unless assignments.empty?
      - assignments.each do |assignment|
        %li.assignment
          %ul
            - if assignment.type == "task"
              %li.type{ :title => "task" }
            - else
              %li.type{ :title => "expense" }
            %li.purpose= link_to assignment.purpose, assignment_url(assignment)
            %li.edit{ :data => { :assignment_id => assignment.id } }
    - else
      %li{ :class => "task" } 
        %ul
          %li.purpose= t '.no_assignments'
