- @main_class = 'corkboard'

.content.others
  .list
    %h2 bounties
    %ul
      %li.bounty 
        %ul
          %li.check
          %li Buy new cat litter for Ninja
          %li.edit
      %li.bounty 
        %ul
          %li.check
          %li Fix the power supply on the garden sprinkler system
          %li.edit
      %li.bounty 
        %ul
          %li.check
          %li Buy eggs, milk, granola, mac &amp; cheese and skirt steak at Publix
          %li.edit
      %li.bounty 
        %ul
          %li.check
          %li Rake &amp; trash leaves
          %li.edit
  .list
    %h2 freebies
    %ul
      %li.freebie 
        %ul
          %li.check
          %li Pay Brighthouse Internet bill
          %li.edit
      %li.freebie 
        %ul
          %li.check
          %li Renew Driver’s License
          %li.edit
      %li.freebie 
        %ul
          %li.check
          %li Collect Andrew’s check and send rent to landlord
          %li.edit
  .list.last
    %h2 gifts
    %ul
      %li.gift 
        %ul
          %li.check
          %li Buy Sunpass
          %li.edit
      %li.gift 
        %ul
          %li.check
          %li Empty dishwasher
          %li.edit
      %li.gift 
        %ul
          %li.check
          %li Pay last Full Sail tuition fees
          %li.edit
#upcoming_filters
  %ul
    %li.left.active my assignments
    %li.right everyone's assignments
  %ul#filters
    %li.left all
    %li#task_filter tasks
    %li.right#expense_filter expenses
#upcoming.content
  -# %p.info You have no upcoming tasks or expenses. Not the best way to earn awesome achievements, now is it?
  .list
    %h2 today
    %ul
      %li.expense 
        %ul
          %li{:title => 'expense'}
          %li Buy new cat litter for Ninja
          %li.edit
      %li.task 
        %ul
          %li{:title => 'task'}
          %li Fix the power supply on the garden sprinkler system
          %li.edit
      %li.expense 
        %ul
          %li{:title => 'expense'}
          %li Buy eggs, milk, granola, mac &amp; cheese and skirt steak at Publix
          %li.edit
      %li.task 
        %ul
          %li{:title => 'task'}
          %li Rake &amp; trash leaves
          %li.edit
  .list
    %h2 tomorrow
    %ul
      %li.expense 
        %ul
          %li{:title => 'expense'}
          %li Pay Brighthouse Internet bill
          %li.edit
      %li.task 
        %ul
          %li{:title => 'task'}
          %li Renew Driver’s License
          %li.edit
      %li.expense 
        %ul
          %li{:title => 'expense'}
          %li Collect Andrew’s check and send rent to landlord
          %li.edit
  .list.last
    %h2= (Date::DAYNAMES[Date.tomorrow.next_day.wday.to_i]).downcase
    %ul
      %li.expense 
        %ul
          %li{:title => 'expense'}
          %li Buy Sunpass
          %li.edit
      %li.task 
        %ul
          %li{:title => 'task'}
          %li Empty dishwasher
          %li.edit
      %li.expense 
        %ul
          %li{:title => 'expense'}
          %li Pay last Full Sail tuition fees
          %li.edit
.header_bar
  %h1 this month
#calendar.content
  - @user.calendar.map do |i|
    .day
      %p= i
      #todo
        =link_to '99', '#', :class => "tasks"
        =link_to '2', '#', :class => "expenses"