// This is the basis of the Roomies site style.
// No page specific styles should make it into the base namespace

// Gridz
$gw-column: 60px
$gw-gutter: 20px

@import 'base/colors'
@import 'base/typography'
@import 'base/layout'
@import 'base/flashes'
@import 'base/forms'

=invisible
  border: 0
  padding: 0
  height: 1px
  width: 1px
  overflow: hidden
  position: absolute
  // IE 6 & 7
  clip: rect(1px 1px 1px 1px) 
  // Everyone else
  clip: rect(1px,1px,1px,1px)

  body:hover &
    a,input,button
      display: none
  


// Styles suitable for all pages 
html
  background-color: $blue 
  +radial-gradient(50% 50%, circle farthest-side, $sunblue, $skyblue)
