.argyle_header
  padding: 2em 0

.argyle_pattern
  padding: 1em 0
  clear: both
  overflow: hidden

.argyle_selector
  color: white
  display: block
  margin-bottom: 0.5em
  background-color: fade-out(black, 0.5)

.argyle_pattern + h2
  margin-top: 1em
  padding-top: 0.5em
  border-top: 1px dashed fade-out(white, 0.3)
