.centric.content.current_cal
  - Date.current.upto(Date.current + 2.weeks) do |date|
    .day{ class: [('current_day' if date.today?), ('month_start' if date.day == 1)] }
      %p.day_name= l(date, :format => :short_day)
      %p.day_number= date.day
      - incomplete_assignments = assignments.due_on(date).select(&:incomplete?)
      - unless incomplete_assignments.empty?
        .todo
          - tasks, expenses = incomplete_assignments.partition(&:task?)
          - if tasks.present?
            = link_to tasks.count, 
              assignments_path(date: date, type: 'task', all: all), 
              class: 'tasks'
          - if expenses.present?
            = link_to expenses.count,
              assignments_path(date: date, type: 'expense', all: all),
              class: 'expenses'
