%p &copy; #{Date.today.year} cleverCode LLC. All Rights Reserved
%p#links
  =link_to 'about us', '#'
  |
  =link_to 'privacy policy', '#'
  |
  =link_to 'terms of service', '#'
  |  
  =link_to 'support', support_index_path
  - if user_signed_in?
    –
    =link_to 'sign out', destroy_user_session_path
