%h1
  - unless user_signed_in?
    =link_to 'Roomies', root_path
  - else
    =link_to 'Roomies', '/corkboard'
%nav
  - if user_signed_in?
    %ul
      %li.profile
        = link_to image_tag(current_user.gravatar('small'), :width => 34, :height => 34), current_user
      %li
        - if current_user.house.nil?
          = link_to 'build a house', new_house_path, :id => 'easy_button', :class => 'ajax'
        - else
          = link_to '+ add assignment', new_assignment_path, :id => 'easy_button', :class => 'ajax'
  - else
    = link_to 'Sign In', user_session_path, :class => 'ajax'