%h1 
  =link_to 'Roomies', root_path
%nav
  %ul
    - if user_signed_in?
      %li
        -# = link_to 'Create a task', new_task_path
      %li
        -# = link_to 'Created an expense', new_expense_path
      %li
        = link_to 'Sign out', destroy_user_session_path
    - else
      %li
        = link_to 'Sign in', new_user_session_path
