= javascript_include_tag "application"

:javascript
  var clicky = { log: function(){ return; }, goal: function(){ return; }};
  var clicky_site_id = 66393877;
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();


:javascript
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4d88caecfd25c46528000021');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
  
= link_to '', 'http://getclicky.com/66393877', :title => 'Real Time Web Analytics'

%noscript
  %p
    %img{ :alt => 'Clicky', :width => '1', :height => '1', :src => 'http://in.getclicky.com/66393877ns.gif' }
