-# CSS: implied media="all"
= stylesheet_link_tag 'style', :media => 'all'
= stylesheet_link_tag 'handheld.css', :media => 'handheld'
= stylesheet_link_tag 'cupertino/jquery-ui-1.8.11.custom.css', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets
